<launch>
    <!--
    <node name="camera_zed" pkg="live1" type="camera_zed.py" output="screen"/>
    <node name="detectnet" pkg="live1" type="detectnet.py" output="screen"/>
    <node name="detectnet_output" pkg="live1" type="detectnet_output.py" output="screen"/> 
    
    
     <node name="detectnet" pkg="live1" type="detectnet.py" output="screen"/>
    -->
    
    <node name="camera_zed" pkg="live1" type="camera_zed.py" output="screen"/>
    <node name="lanewarp" pkg="live1" type="lanewarp_Kf_lane.py" output="screen"/>
    <node name="yolo" pkg="live1" type="yolo.py" output="screen"/>
    <node name="depth" pkg="live1" type="depth.py" output="screen"/>

</launch>
